<template>
    <div>
<!--        <MicroNewsCompanyItem-->
<!--            v-for="(item,index) in newsCompanyList"-->
<!--            v-bind:company-name="item.name"-->
<!--            v-bind:link-subscription="item.linkSubscription"-->
<!--            v-bind:link-view="item.linkViewDoc"-->
<!--        />-->
        <MicroPeopleItem
            v-for = "(item,idex) in peopleList"
            v-bind:name = 'item.name'
            v-bind:phone = 'item.phone'
            v-bind:gender= 'item.gender'
            v-bind:address= 'item.address'/>
    </div>
</template>

<script>
export default {
    data() {
        return {
            newsCompanyList: [
                {
                    name: '조선일보',
                    linkSubscription: 'https://sdsfafdaffads.com',
                    linkViewDoc: "https://dsafdsfadf.com"
                },
                {
                    name: '조선이보',
                    linkSubscription: 'https://sdsfafdaffads.com',
                    linkViewDoc: "https://dsafdsfadf.com"
                },
                {
                    name: '조선삼보',
                    linkSubscription: 'https://sdsfafdaffads.com',
                    linkViewDoc: "https://dsafdsfadf.com"
                },
                {
                    name: '조선사보',
                    linkSubscription: 'https://sdsfafdaffads.com',
                    linkViewDoc: "https://dsafdsfadf.com"
                },
                {
                    name: '조선오보',
                    linkSubscription: 'https://sdsfafdaffads.com',
                    linkViewDoc: "https://dsafdsfadf.com"
                }
            ],
            peopleList: [
                {
                    name: '홍길동',
                    phone: '010-0000-0000',
                    gender: '여',
                    address: '인천광역시',
                },
                {
                    name: '홍길동',
                    phone: '010-0000-0000',
                    gender: '남',
                    address: '인천광역시',
                },
                {
                    name: '홍길동',
                    phone: '010-0000-0000',
                    gender: '남',
                    address: '인천광역시',
                },
                {
                    name: '홍길동',
                    phone: '010-0000-0000',
                    gender: '여',
                    address: '인천광역시',
                },
                {
                    name: '홍길동',
                    phone: '010-0000-0000',
                    gender: '남',
                    address: '인천광역시',
                },
                {
                    name: '홍길동',
                    phone: '010-0000-0000',
                    gender: '남',
                    address: '인천광역시',
                },
            ]
        }
    }
}
</script>
