<template>
  <div>
    <div>{{companyName}}</div>
    <div>{{ linkSubscription }}</div>
    <div>{{ linkView }}</div>
  </div>
</template>
<script>
export default {
  props : {
    companyName : {
      type : String,
      required : true,
    },
    linkSubscription : {
      type: String,
      required: true,
    },
    linkView : {
      type :String,
      required :true,
    }
  }
}
</script>